<p>
  <%= @establishment.name %>
</p>
<p>
  Le informamos que el siguiente contenedor se ha llenado:
<table>
  <tr>
    <td>Título</td>
    <td>Dirección</td>
  </tr>
  <tr>
    <td><%= @container.title %></td>
    <td><%= @container.address %></td>
  </tr>
</table>
<p>
  Saludos, R-Cyclo.
</p>
