<%= @establishment.name %>

Le informamos que el siguiente contenedor se ha llenado:

<%= '%-3s %-27s' % ['Título', 'Dirección'] %>

<%= '%-3s %-27s' % [@container.title, @container.address] %>

Saludos, R-Cyclo.
