<%= @company.name %>

El siguiente email tiene la finalidad de informarle que se ha dado de baja en nuestra aplicacion R-Cyclo, por lo que todos sus contenedores y/o solicitudes de contenedores han sido eliminados de nuestra aplicación, en el caso de que desee volver a usar nuestra plataforma usted debe seguir los siguientes pasos:

1. Iniciar sesión en nuestra sitio web con sus datos (email y password) normales.
2. Ir a su panel de control.
3. Hacer click en el botón indicado para restablecer su cuenta.

Saludos, R-Cyclo.
