<p>
  <%= @establishment.name %>
</p>
<p>
  El siguiente email tiene la finalidad de informarle que la empresa <%= @company.name %> se ha dado de baja en nuestra aplicacion R-Cyclo, motivo por el cual los siguientes contenedores y/o solicitudes de contenedores han sido borrados de nuestra aplicación:
</p>
<table>
  <tr>
    <td>#</td>
    <td>Título</td>
    <td>Dirección</td>
  </tr>
  <% @containers.each_with_index do |cont, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= cont.title %></td>
      <td><%= cont.address %></td>
    </tr>
  <% end %>
</table>
<p>
  Saludos, R-Cyclo.
</p>
