<%= @establishment.name %>

El siguiente email tiene la finalidad de informarle que la empresa <%= @company.name %> se ha dado de baja en nuestra aplicacion R-Cyclo, motivo por el cual los siguientes contenedores y/o solicitudes de contenedores han sido borrados de nuestra aplicación:

<%= '%-3s %-27s %-47s' % ['#', 'Título', 'Dirección'] %>

<% @containers.each_with_index do |cont, index| %>
<%= '%-3s %-27s %-47s' % [index + 1, cont.title, cont.address] %>
<% end %>

Saludos, R-Cyclo.
