<%= @company.name %>

El siguiente email tiene la finalidad de informarle que la institución <%= @establishment.name %> se ha dado de baja en nuestra aplicacion R-Cyclo, motivo por el cual los siguientes contenedores y/o solicitudes de contenedores han sido borrados de nuestra aplicación:

<%= '%-3s %-27s %-47s %-37s' % ['#', 'Título', 'Dirección', 'Descripción'] %>

<% @containers.each_with_index do |cont, index| %>
<%= '%-3s %-27s %-47s %-37s' % [index + 1, cont.title, cont.address, cont.description] %>
<% end %>

Saludos, R-Cyclo.
