<p>
  <%= @establishment.name %>
</p>
<p>
  El siguiente email tiene la finalidad de informarle que se ha dado de baja en nuestra aplicacion R-Cyclo, por lo que todos sus contenedores asociados y/o solicitudes de contenedores han sido eliminados de nuestra aplicación, en el caso de que desee volver a usar nuestra plataforma usted debe seguir los siguientes pasos:
</p>
<ol>
  <li>Iniciar sesión en nuestra sitio web con sus datos (email y password) normales.</li>
  <li>Ir a su panel de control.</li>
  <li>Hacer click en el botón indicado para restablecer su cuenta.</li>
</ol>
<p>
  Saludos, R-Cyclo.
</p>
