<p>
  <%= @company.name %>
</p>
<p>
  El siguiente email tiene la finalidad de informarle que se ha eliminado el siguiente contenedor debido ha que la institución <%= @establishment.name %> la a borrado.
</p>
<table>
  <tr>
    <td>Título</td>
    <td>Dirección</td>
  </tr>
  <tr>
    <td><%= @container.title %></td>
    <td><%= @container.address %></td>
  </tr>
</table>
<p>
  Saludos, R-Cyclo.
</p>
