<%= @company.name %>

El siguiente email tiene la finalidad de informarle que se ha eliminado el siguiente contenedor debido ha que la institución <%= @establishment.name %> la a borrado.

<%= '%-3s %-27s' % ['Título', 'Dirección'] %>

<%= '%-3s %-27s' % [@container.title, @container.address] %>

Saludos, R-Cyclo.
